@import '../font-awesome/all.scss';

$icon-font-path: get-resource-path('images/icon', 'shared');

$icon-list: (
    //IconList.start
    "account-circle": "account-circle",
    "accounts-receivable-report": "accounts-receivable-report",
    "accruals": "accruals",
    "add-chart": "add-chart",
    "add-check": "add-check",
    "add-plus-box": "add-plus-box",
    "add": "add",
    "all-inbox": "all-inbox",
    "answer-final": "answer-final",
    "answer-intermediate": "answer-intermediate",
    "answer-simple": "answer-simple",
    "apps": "apps",
    "archive-download": "archive-download",
    "archive": "archive",
    "arroba-symbol": "arroba-symbol",
    "arrow-down-long": "arrow-down-long",
    "arrow-up-long": "arrow-up-long",
    "arrow-up": "arrow-up",
    "assignment-late": "assignment-late",
    "attach-email": "attach-email",
    "attach-file": "attach-file",
    "attachment": "attachment",
    "attention-critical": "attention-critical",
    "attention": "attention",
    "automated-data-lineage": "automated-data-lineage",
    "back-hand": "back-hand",
    "balancing": "balancing",
    "bank-statement-items": "bank-statement-items",
    "bank-statement-journal": "bank-statement-journal",
    "bankruptcy-2": "bankruptcy-2",
    "bar-chart": "bar-chart",
    "block": "block",
    "book": "book",
    "box": "box",
    "branch": "branch",
    "build": "build",
    "building": "building",
    "business-rule-task": "business-rule-task",
    "business": "business",
    "calculator-building": "calculator-building",
    "calculator-contract": "calculator-contract",
    "calculator": "calculator",
    "calendar-month": "calendar-month",
    "calendar-today": "calendar-today",
    "calendar": "calendar",
    "call": "call",
    "cancel-call": "cancel-call",
    "cancel-small": "cancel-small",
    "cancel": "cancel",
    "change-circle": "change-circle",
    "chare": "chare",
    "chat-bubble": "chat-bubble",
    "chat": "chat",
    "check-circle": "check-circle",
    "check": "check",
    "checkbox-checked": "checkbox-checked",
    "checkbox": "checkbox",
    "chevron-left": "chevron-left",
    "chevron-right": "chevron-right",
    "climatic-conditions": "climatic-conditions",
    "clip-action": "clip-action",
    "clip": "clip",
    "close": "close",
    "collaps": "collaps",
    "collapse-top": "collapse-top",
    "comment": "comment",
    "commercial-accounting": "commercial-accounting",
    "conditioner": "conditioner",
    "conditioner2": "conditioner2",
    "connection-diagram": "connection-diagram",
    "consignee": "consignee",
    "contact-itp": "contact-itp",
    "contact-object": "contact-object",
    "contact-page": "contact-page",
    "contact-section": "contact-section",
    "contract-small": "contract-small",
    "contract": "contract",
    "contract2": "contract2",
    "contragent": "contragent",
    "copy-link": "copy-link",
    "copy": "copy",
    "correction-contract-conditions": "correction-contract-conditions",
    "correction-log-short": "correction-log-short",
    "correction-log-spky": "correction-log-spky",
    "correction-volume-ipu": "correction-volume-ipu",
    "correction-volume-uute": "correction-volume-uute",
    "court_cases": "court_cases",
    "create-file": "create-file",
    "create": "create",
    "cup": "cup",
    "cutlery": "cutlery",
    "data-loading": "data-loading",
    "debt-reconciliation-acts": "debt-reconciliation-acts",
    "description": "description",
    "diagram2": "diagram2",
    "directory": "directory",
    "doc": "doc",
    "document-download-stamp": "document-download-stamp",
    "document-packages-dz": "document-packages-dz",
    "done-all-2": "done-all-2",
    "done-all": "done-all",
    "down-arrow": "down-arrow",
    "down": "down",
    "download": "download",
    "downward-2": "downward-2",
    "drag-point-16px": "drag-point-16px",
    "drag-point-20px": "drag-point-20px",
    "drag-point-24px": "drag-point-24px",
    "edit-connection": "edit-connection",
    "edit-small": "edit-small",
    "edit-user": "edit-user",
    "edit-view": "edit-view",
    "edit": "edit",
    "email": "email",
    "enlarge": "enlarge",
    "entering-readings-uute": "entering-readings-uute",
    "excel": "excel",
    "exel": "excel",
    "executor": "executor",
    "exit": "exit",
    "expand-2": "expand-2",
    "expand-bottom": "expand-bottom",
    "expand": "expand",
    "expanded-correction-log": "expanded-correction-log",
    "facebook": "facebook",
    "fact-check": "fact-check",
    "fax": "fax",
    "ffilter_alt_v1": "ffilter_alt_v1",
    "file-download": "file-download",
    "filter-alt-2": "filter-alt-2",
    "filter-alt-3": "filter-alt-3",
    "filter-alt-off-2": "filter-alt-off-2",
    "filter-alt-off-3": "filter-alt-off-3",
    "filter-alt-off": "filter-alt-off",
    "filter-alt": "filter-alt",
    "filter": "filter",
    "filter_alt_off_v10": "filter_alt_off_v10",
    "filter_alt_off_v11": "filter_alt_off_v11",
    "filter_alt_off_v12": "filter_alt_off_v12",
    "filter_alt_off_v13": "filter_alt_off_v13",
    "filter_alt_off_v2": "filter_alt_off_v2",
    "filter_alt_off_v3": "filter_alt_off_v3",
    "filter_alt_off_v4": "filter_alt_off_v4",
    "filter_alt_off_v5": "filter_alt_off_v5",
    "filter_alt_off_v6": "filter_alt_off_v6",
    "filter_alt_off_v7": "filter_alt_off_v7",
    "filter_alt_off_v8": "filter_alt_off_v8",
    "filter_alt_off_v9": "filter_alt_off_v9",
    "filter_alt_v10": "filter_alt_v10",
    "filter_alt_v11": "filter_alt_v11",
    "filter_alt_v12": "filter_alt_v12",
    "filter_alt_v13": "filter_alt_v13",
    "filter_alt_v2": "filter_alt_v2",
    "filter_alt_v3": "filter_alt_v3",
    "filter_alt_v4": "filter_alt_v4",
    "filter_alt_v5": "filter_alt_v5",
    "filter_alt_v6": "filter_alt_v6",
    "filter_alt_v7": "filter_alt_v7",
    "filter_alt_v8": "filter_alt_v8",
    "filter_alt_v9": "filter_alt_v9",
    "financial-transfer": "financial-transfer",
    "flow-chart": "flow-chart",
    "globe": "globe",
    "growth": "growth",
    "hand": "hand",
    "handshake-small": "handshake-small",
    "handshake": "handshake",
    "heat-supply-contract": "heat-supply-contract",
    "help": "help",
    "hot-water": "hot-water",
    "icon-toast": "icon-toast",
    "ik-2": "ik-2",
    "ik": "ik",
    "ilter_alt_off_v1": "ilter_alt_off_v1",
    "implementation": "implementation",
    "increase": "increase",
    "information": "information",
    "inset-2": "inset-2",
    "inset": "inset",
    "internet-reception": "internet-reception",
    "internet-shop": "internet-shop",
    "itp-2": "itp-2",
    "itp": "itp",
    "kit": "kit",
    "latch": "latch",
    "less": "less",
    "library-books": "library-books",
    "link": "link",
    "list": "list",
    "loading-hp": "loading-hp",
    "loading-payment-register": "loading-payment-register",
    "logout": "logout",
    "magnifying-glass": "magnifying-glass",
    "marketing-campaigns": "marketing-campaigns",
    "maximize": "maximize",
    "megaphone-small": "megaphone-small",
    "megaphone": "megaphone",
    "menu-close": "menu-close",
    "menu-open": "menu-open",
    "menu": "menu",
    "message-none": "message-none",
    "message": "message",
    "messenger": "messenger",
    "meter-2": "meter-2",
    "meter-set": "meter-set",
    "meter": "meter",
    "meter2": "meter2",
    "minimize": "minimize",
    "minimum-order": "minimum-order",
    "more": "more",
    "nav-arrow-left": "nav-arrow-left",
    "nav-arrow-right": "nav-arrow-right",
    "new-credential": "new-credential",
    "new-news": "new-news",
    "new-tasks": "new-tasks",
    "news": "news",
    "not-done-all-2": "not-done-all-2",
    "not-done-all": "not-done-all",
    "office": "office",
    "online-store": "online-store",
    "open": "open",
    "order-small": "order-small",
    "order": "order",
    "other-operations": "other-operations",
    "other-operations_v2": "other-operations_v2",
    "otp-2": "otp-2",
    "otp": "otp",
    "otp2": "otp2",
    "package-line-service": "package-line-service",
    "package-line": "package-line",
    "package": "package",
    "payer": "payer",
    "payment-adjustment": "payment-adjustment",
    "payments": "payments",
    "personal-area": "personal-area",
    "personal-area2": "personal-area2",
    "phone": "phone",
    "pipeline-small": "pipeline-small",
    "pipeline": "pipeline",
    "planned-restrictions-schedule": "planned-restrictions-schedule",
    "plus": "plus",
    "post-office": "post-office",
    "pressure-meter-2": "pressure-meter-2",
    "pressure-meter": "pressure-meter",
    "price": "price",
    "print": "print",
    "printer": "printer",
    "process-approval": "process-approval",
    "product": "product",
    "products": "products",
    "question": "question",
    "radiator-small": "radiator-small",
    "radiator": "radiator",
    "recalculations": "recalculations",
    "receivables": "receivables",
    "reconciliation-act": "reconciliation-act",
    "reference-book": "reference-book",
    "register-payment-doc": "register-payment-doc",
    "registers-receivable-documents": "registers-receivable-documents",
    "registries-dz": "registries-dz",
    "report-dz": "report-dz",
    "reports": "reports",
    "report_search": "report_search",
    "restriction-schedule": "restriction-schedule",
    "restore": "restore",
    "roster": "roster",
    "rules": "rules",
    "sales-books": "sales-books",
    "santa-claus": "santa-claus",
    "save-view": "save-view",
    "save": "save",
    "scheme-3": "scheme-3",
    "scheme-treelist": "scheme-treelist",
    "section-2": "section-2",
    "section": "section",
    "sent": "sent",
    "service": "service",
    "services": "services",
    "set": "set",
    "settings": "settings",
    "sewerage": "sewerage",
    "share": "share",
    "shopper": "shopper",
    "shopping-cart": "shopping-cart",
    "social": "social",
    "social2": "social2",
    "source-2": "source-2",
    "source": "source",
    "speaking": "speaking",
    "star-16": "star-16",
    "star_16px": "star-16",
    "star": "star",
    "station": "station",
    "status-active": "status-active",
    "status-answered": "status-answered",
    "status-close": "status-close",
    "status-new": "status-new",
    "status-refusing": "status-refusing",
    "status": "status",
    "steam": "steam",
    "subsidies": "subsidies",
    "tap-water": "tap-water",
    "tap": "tap",
    "target": "target",
    "tasks-user": "tasks-user",
    "tasks": "tasks",
    "temperature": "temperature",
    "thermal-chamber-2": "thermal-chamber-2",
    "thermal-chamber-corner-small": "thermal-chamber-corner-small",
    "thermal-chamber-small": "thermal-chamber-small",
    "thermal-chamber": "thermal-chamber",
    "time": "time",
    "time2": "time2",
    "to-do-list": "to-do-list",
    "toilet": "toilet",
    "tower": "tower",
    "tower2": "tower2",
    "treaties": "treaties",
    "undo": "undo",
    "unfold-less-2": "unfold-less-2",
    "unfold-less-3": "unfold-less-3",
    "unfold-less-4": "unfold-less-4",
    "unfold-less-5": "unfold-less-5",
    "unfold-less-6": "unfold-less-6",
    "unfold-less": "unfold-less",
    "unfold-more-2": "unfold-more-2",
    "unfold-more-3": "unfold-more-3",
    "unfold-more-4": "unfold-more-4",
    "unfold-more-5": "unfold-more-5",
    "unfold-more-6": "unfold-more-6",
    "unfold-more": "unfold-more",
    "up": "up",
    "update-arrows": "update-arrows",
    "update-small": "update-small",
    "update": "update",
    "upward-2": "upward-2",
    "user-account": "user-account",
    "user-in": "user-in",
    "user-out": "user-out",
    "user-small": "user-small",
    "user": "user",
    "uute-2": "uute-2",
    "uute-equipment": "uute-equipment",
    "uute-set": "uute-set",
    "uute": "uute",
    "uute2": "uute2",
    "visibility": "visibility",
    "visibility_off": "visibility_off",
    "vk": "vk",
    "window-2": "window-2",
    "window-3": "window-3",
    "window": "window",
    "work-documents-spku": "work-documents-spku",
    "work-dz": "work-dz",
    "work-payment-register": "work-payment-register",
    "work-payment": "work-payment",
    "work-receivables": "work-receivables",
    "work-rsd": "work-rsd",
    "work-thv": "work-thv",
    "workflow": "workflow",
    "wysiwyg": "wysiwyg",
    //IconList.end
);

@mixin svg-icon-mask($color) {
  background-color: $color;
}

.svg-icon {
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  -webkit-mask-repeat: no-repeat !important;
  background-color: $base-color;
  color: transparent;
  min-width: 18px;
  min-height: 18px;
}

.svg-fa {
mask-repeat: no-repeat !important;
mask-position: center !important;
-webkit-mask-repeat: no-repeat !important;
background-color: $base-color;
color: transparent;
min-width: 18px;
min-height: 18px;
}

.svg-icon-gray {
  color: #aaaaaa !important;
}

.svg-icon-black {
  color: black !important;
}

.svg-icon-white {
  color: #ffffff !important;
}

.svg-icon-bg-gray {
  background-color: #aaaaaa !important;
}

.svg-icon-bg-black {
  background-color: black !important;
}

.svg-icon-bg-white {
  background-color: #ffffff !important;
}

@each $key, $val in $icon-list {
  $iconUrl: #{$icon-font-path}/#{$val}#{'.svg'};
  .svg-icon-#{$key} {
    // mask-image: theme-background-image(#{$val}, "svg") !important;
    mask-image: url($iconUrl) !important;
    -webkit-mask-image: url($iconUrl) !important;
  }

  .sigma .x-tool-#{$key} {
    mask-image: url($iconUrl) !important;
    -webkit-mask-image: url($iconUrl) !important;
    background-color: white !important;

    &:before {
      content: "";
    }
  }

  .x-edge {
    &.sigma .x-tool-#{$key} {
      background-color: inherit !important;
    }

    .svg-icon {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 75%;
      background-color: inherit !important;

      &.svg-icon-#{$key} {
        background-image: url($iconUrl) !important;
      }
    }
  }
}

.x-edge {
  .svg-icon-add {
    background-size: 100%;
  }
}

.x-tool-tool-el {
  width: 24px;
  height: 24px;
}

.svg-icon-cancel-small {
  background-color: #9e9e9e !important;
}

.svg-icon-magnifying-glass {
  background-color: #9e9e9e !important;
}

.svg-icon-cancel-small::before {
  content: "" !important;
}

.svg-icon.svg-icon-edit {
  background-color: $base-color-light;
}

.svg-icon.svg-icon-nav-arrow-left, .svg-icon.svg-icon-nav-arrow-right {
  background-color: #608599;
}

.svg-icon.svg-icon-disabled {
  background-color: #bbbbbb;
  cursor: default;
}

.svg-icon-align-left {
  -webkit-mask-position: left !important;
}

.svg-icon-align-center {
  -webkit-mask-position: center !important;
}

.svg-icon-align-right {
  -webkit-mask-position: right !important;
}
