$base-color : #1E3B4C;
$base-color-dark : #112B39;
$base-color-light : #3D6780;
$active-color-tec: #9A2D2A;
$active-color-vdk: #3D73B4;
$active-color-inter: #F18716;

// import all.scss to provide vars into it
@import '../../sass/src/all.scss';
